*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	padding: 20px;
	display: flex;
	justify-content: space-around;
    border-bottom: 5px solid blue;
    background: url(hh.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

div{
	width: 100px;
	height: 100px;
	background: gray;
	text-align: center;
	justify-content: center;
	display: flex;
	text-transform: uppercase;
	align-items: center;
	font-family: arial black;

}
.box1{
	border: 5px solid red;
	background: black;
}
.box1{
	transition: 1s all ease;
}
.box1:hover{
	width: 100px;
	height: 100px;
	background: navy;
	border-radius: 50%;
	color: red;
	margin-top: 30px;

}
.box2{
	border: 5px solid red;
	background: black;
}
.box2{
	transition: 1s all ease;
}

.box2:hover{
	width: 100px;
	height: 100px;
	background: blue;
	border-radius: 50%;
	margin-top: 30px;
}
.box3{
	border: 5px solid red;
	background: black;
}
.box3{
	transition: 1s all ease;
}
.box3:hover{
	transform: rotate(360deg);
	width: 100px;
	height: 100px;
	background: greenyellow;
	border-radius: 50%;
	margin-top: 30px;
}
.box4{
	border: 5px solid red;
	background: black;
}
.box4{
	transition: 1s ease;
}
.box4:hover{
	width: 100px;
	height:100px;
	background: tomato;
	border-radius: 50%;
	margin-top: 30px;
}